
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 100%;
}


.topBar {
  background: #ff7070;
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
  padding: 15px 100px;            
  font-size: 20px;
  font-weight: bold;
}

.topBar span {
  white-space: nowrap;
}

.menuImg {
  width: 25px;
}


.secOne {
  display: flex;
  min-height: 90vh;
  background: linear-gradient(to right, #fff3b0, #ffd1dc);
  flex-wrap: wrap;  
}

.leftBox {
  flex: 1 1 300px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftBox h1 {
  font-size: 70px;
  letter-spacing: 10px;
  margin-bottom: 60px;
}

.leftBox p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 60px;
}

.btn1 {
  width: 220px;
  padding: 14px 0;
  background: #ff7070;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.rightBox {
  flex: 1 1 300px;
  min-width: 300px;
}

.rightBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.secTwo {
  display: flex;
  flex-wrap: wrap;   
  padding: 80px;
  gap: 60px;
  background: linear-gradient(to right, #fff3b0, #ffd1dc);
}

.imgArea {
  width: 50%;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 12px;
}

.imgArea img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgArea img.fullImg {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.textCard {
  width: 40%;
  min-width: 250px;
  height: 260px;
  background: #ff7070;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
}

.textCard small {
  font-size: 14px;
  letter-spacing: 3px;
}

.textCard h2 {
  font-size: 38px;
  letter-spacing: 8px;
  line-height: 1.6;
  font-weight: bold;
}

.clickRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.clickRow span {
  font-size: 1.25rem;
}




@media (max-width: 1024px) {
  
  .topBar {
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 15px 40px;
  }

  .secOne, .secTwo {
    flex-direction: column;
  }

  .rightBox img, .imgArea img {
    width: 100%;
    height: auto;
  }

  .textCard {
    width: 100%;
    margin-top: 30px;
  }

  .textCard h2 {
    font-size: 2rem;
    letter-spacing: 6px;
  }
}

@media (max-width: 480px) {
  .topBar {
    padding: 15px 20px;
    gap: 15px;
  }

  .leftBox {
    padding: 30px;
  }

  .leftBox h1 {
    font-size: 2rem;
    letter-spacing: 6px;
  }

  .leftBox p {
    font-size: 1rem;
  }

  .btn1 {
    width: 100%;
  }

  .rightBox img, .imgArea img {
    width: 100%;
    height: auto;
  }

  .imgArea {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .textCard {
    width: 100%;
    height: auto;
  }

  .textCard h2 {
    font-size: 1.5rem;
    letter-spacing: 5px;
    line-height: 1.7;
  }
}
